.container_c {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10%; /* Espacio entre las columnas */
  justify-content: center; /* Centramos las columnas */
  margin-top: 60px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

#container_nav {
  padding: 2%;
  text-align: center;
  background-color: rgb(5, 19, 40);
  color: #fff;
  font-weight: bold;
  font-size:x-large;
}

.form_principal {
  display: grid;
  width: 100%; 
  row-gap: 30px;
}

.ul_left {
    list-style-type: none;
    padding: 0;
}

.li_left {
    margin-bottom: 15px;
}

.h_left {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.ul_right {
    list-style-type: none;
    padding: 0;
}

.conclusiones {
    margin-bottom: 15px;
}


.input_text_line {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px underline #ccc;
    border-radius: 4px;
} 


.input_text_line:focus {
    border-color: #9C8BCD;
    outline: none;
}

.input_text {
    width: 500px;
    height: 50px;
    resize: none;
}

.input_text:focus {
    border-color: #9C8BCD;
}

#btn_orden {
  background: #e2faf4;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 20px;
	border: 1px solid #7572af;
	text-transform: uppercase;
	font-weight: 700;	
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }
  
  .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: shake 0.5s;
  }
  
  .notification i {
    font-size: 24px;
  }
  
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translate(-50%, -50%);
    }
    25% {
      transform: translate(-48%, -50%);
    }
    50% {
      transform: translate(-52%, -50%);
    }
    75% {
      transform: translate(-48%, -50%);
    }
  }